[flake8]
# darglint configuration:
# https://github.com/terrencepreilly/darglint
strictness = long
docstring-style = numpy

# Flake plugins:
max-line-length = 120
max-complexity = 6
max-name-length=50

# Excluding some directories:
exclude = .git,__pycache__,.venv,.eggs,*.egg, foodcartapp/migrations

# Disable some pydocstyle checks:
ignore = D100, D104, D106, D401, X100, W504, RST303, RST304, DAR103, DAR203

per-file-ignores =
  config/settings/*.py: WPS226, WPS407, WPS412, WPS432
  foodcartapp/models/*.py: WPS305, WPS306, WPS420, D105, WPS604, WPS110, WPS237, WPS432, WPS300, F401, WPS412, WPS115
  foodcartapp/admin/*.py: F401, D101, D102, WPS110, WPS226, WPS306, WPS431, WPS412,
  */serializers.py: WPS306, D101,
  */selectors.py: WPS306, D101,
  */admin.py: WPS110, D102, D101, WPS431, WPS306,
  */migrations/*.py: WPS102, I001, I005, WPS301, D101, WPS432
  */models.py: WPS432, WPS110, WPS306, D105, WPS602, WPS210, WPS221, WPS219
  */views/__init__.py: WPS412, F401, WPS300
